CMakeProject/Build/
CMakeProject/.vscode/

Algorithm/C++/build/
Algorithm/C++/.vscode/
Algorithm/C++/play_with_algo-master/
Algorithm/C++/leetcode.*

Algorithm/Python/Learning Python/
Algorithm/Python/.vscode/

